:root {
  font-family: Ubuntu, Tahoma, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(219, 219, 219);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.ace_print-margin {
  visibility: hidden !important;
}
.jspond-wrapper,
.jspond-body {
  min-height: 100vh;
}

.jspond-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: rgb(219, 219, 219);
}

.jspond-result {
  padding-top: 6px;
}

.jspond-result-header {
  font-weight: 500;
}

.jspond-editor {
  position: relative;
  height: 70vh;
}
.jspond-body-play {
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}
.jspond-body-play > img:hover {
  transform: scale(1.2);
}
.jspond-body-play > img {
  width: 56px;
  height: 56px;
  transition: transform 0.2s;
}

code,
pre,
.jspond-result-header {
  font-family: Consolas, Monaco, 'Andale Mono', 'Lucida Console', monospace;
  hyphens: none;
}
pre {
  margin-top: 2px;
}
.jspond-header-credits {
  display: flex;
  gap: 5px;
}
.jspond-header-title {
  font-weight: 500;
  font-size: 1.1em;
}
.jspond-result-header-hint {
  font-size: 0.6em;
  vertical-align: middle;
  margin-left: 15px;
  font-weight: 300;
  font-family: Ubuntu, Tahoma, Inter, Avenir, Helvetica, Arial, sans-serif;
  align-items: center;
  text-align: center;
}
